body,
html {
  height: 100%;
  background-image: url("../images/ross-parmly-rf6ywHVkrlY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main h1 {
  font-size: 30px;
  text-align: center;
}

/* main h1 {
  font-size: 50px;
  text-align: center;
  color: #fff;
} */

.saved-flights {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
  height: 850px;
  width: 80%;
  margin: 50px;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  border-radius: 5px;
}

.saved-flights li {
  line-height: 40px;
  white-space: pre-wrap;
}

#backButton,
#clear {
  margin: 5px 5px 5px 0;
  width: 300px;
}

#backButton:hover,
#clear:hover {
  color: #fff;
  background-color: #031926;
}

.flights-buttons {
  display: flex;
  flex-direction: row;
}
