* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: blue;
  padding: 30px;
}

header h1 {
  font-size: 50px;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fb8500;
}
  
  *, *::after, *::before {
    box-sizing: border-box;
}

/* Covid section */

.covid-input {
  width: 100%;
  border: 10px;
}