* {
  margin: 0;
  padding: 0;
  color: black;
}

main {
  padding: 100px;
  width: 50%;
}

button {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  text-align: center;
  background-color: blue;
  padding: 30px;
}

header h1 {
  font-size: 50px;
}

.container {
  display: flex;
  margin: 100px;
}

.departure-choice {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  width: 250px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 100px;
}

#flight-list-container {
  height: 400px;
  overflow-y: auto;
}

#flight-list-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

li {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

li:hover {
  background: linear-gradient(to right, #6190e8, #a7bfe8);
  color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Covid section */
.covid-container {
  width: 250px;
}
.covid-input {
  width: 100%;
  border: 10px;
}
