* {
  margin: 0;
  padding: 0;
  color: black;
}

main {
  background-color: rgb(250, 248, 248);
  padding: 50px;
  width: 30%;
  border-radius: 5px;
  margin: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

button {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  text-align: center;
  background-color: blue;
  padding: 30px;
}

header h1 {
  font-size: 50px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  margin: 100px;
  justify-content: center;
}

.departure-choice {
  display: flex;

  flex-direction: column;
  padding-bottom: 10px;
}

.list-container {
  background-color: rgb(250, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 5px;
  margin: 50px;
}

#covid-info-container li {
  display: flex;
  color: white;
  background: linear-gradient(to right, #ed213a, #93291e);
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

#flight-list-container {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
}

#flight-list-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#flight-list-container li {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

#flight-list-container li:hover {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Covid section */
.covid-container {
  width: 250px;
  display: flex;
}
.covid-input {
  padding: 5px;
  width: 100%;
  border: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date-input {
  margin-top: 10px;
  margin-bottom: 10px;
}
