/* Global Containers */
* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body,
html {
  height: 100%;
  background-image: url("../images/ross-parmly-rf6ywHVkrlY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  text-align: center;
  text-shadow: 0px 0px 30px black;
  padding: 30px 30px 0px 30px;
  width: auto;
}

header h1 {
  font-size: 50px;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 50px 50px 50px;
}

/* Containers */
.container-departure {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
  height: 560px;
  width: 30%;
  margin: 50px;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  border-radius: 5px;
}

.departure__departure-choice {
  display: flex;
  flex-direction: column;
}

#city-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#date-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-covid {
  display: flex;
}

.covid__search-wrapper {
  display: flex;
  flex-direction: column;
}

.covid-input {
  width: 90%;
  padding: 5px;
  border: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* #covid-info ul {
  display: flex;
  color: #000;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  padding: 10px;
} */

.list-container {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
  align-items: center;
  height: 560px;
  width: 30%;
  margin: 50px;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  border-radius: 5px;
  background-color: rgba(244, 233, 205, 0.7);
}

#flight-list-container {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
}

#flight-list-container li {
  background-color: #fff;
  opacity: 70%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
  white-space: pre-wrap;
}

#flight-list-container::-webkit-scrollbar {
  width: 0;
  background: 0 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Buttons */

button {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
input {
  border-radius: 5px;
}
#covid-search-button,
#flight-search-button,
#reset-flights,
#save-flight-button {
  margin: 5px 5px 5px 0;
}
button,
input,
optgroup,
select,
textarea {
  border-radius: 5px;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
.list-container__buttons {
  display: flex;
}

/* Hover effects */
#covid-search-button:hover,
#flight-search-button:hover,
#reset-flights:hover,
#save-flight-button:hover {
  color: #fff;
  background-color: #031926;
}
#flight-list-container li:hover {
  color: #fff;
  background: #b2b5b7;
  opacity: 70%;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

/* Loading Spinner Effect */

#spinner,
#spinner2 {
  display: none;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 0.5s infinite linear;
  animation: load3 0.5s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#spinner:after {
  background: rgba(244, 233, 205, 0.7);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#spinner2:after {
  background: rgba(0, 0, 0, 0);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Media Query */

@media (max-width: 900px) {
  main {
    flex-direction: column;
  }
  .container-departure {
    width: 70%;
  }
  .list-container {
    width: 70%;
  }
  body,
  html {
    height: 100%;
  }
}

@media (max-width: 630px) {
  header h1 {
    font-size: 40px;
  }
}

@media (max-width: 484px) {
  .list-container__buttons {
    display: flex;
    flex-direction: column;
  }
  .container-departure {
    height: 600px;
    align-items: center;
    text-align: center;
  }
  .departure__departure-choice {
    align-items: center;
  }
  .covid__search-wrapper {
    align-items: center;
  }
  .list-container {
    height: 600px;
    text-align: center;
  }
  header h1 {
    font-size: 30px;
  }
}
